{% load bootstrap5 %}{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>nada</title>
  </head>
  <body>
    <p>Não estou usando o metodo de blocos ainda, mas em breve pensarei no seu caso.</p>
    {% bootstrap_javascript %}
    <script src="{% static 'scripts.js' %}"></script>
  </body>
</html>