/* Configurações de cores e fontes gerais do app Web */
:root {
    --color-primary: #c70000;
    --color-secundary: #2567E5;
  
    --color-white: #fff;
    --color-black: #000;
  
    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;
  
    --font-primary: Arial, Helvetica, sans-serif;
    --font-headings: "Roboto Slab", serif;
  
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
  }
  
  /* Configurações de reset da página */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem; /*16 px*/
    font-family: var(--font-primary);
    background-color: var(--color-secundary);
    margin: auto;
  }

  .form_cadastro, .form_login {
    background-color: var(--color-white);
    max-width: 500px;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px 20px 50px;
    border-radius: 20px;
    font-weight: bold;
    font-size: large;
  }

  input {
    background-color: rgb(219, 219, 219);
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 100px 3px 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    position: relative;
  }

  .btn {
    color: var(--color-white);
    background: var(--color-primary);
    font-weight: bold;
    font-size: medium;
    margin-right: 5px;
  }

  #icon {
    max-width: 25%;
    margin-top: 5%;
    margin-right: 20%;
    float: right;
  }

  #perfil {
    background: var(--color-white);
    margin-right: 50px;

  }

  #cadastre-se, #login{
    background: var(--color-secundary);
  }

  .botoes {
    margin-left: auto;
  }
  
  .navbar {
    background: var(--color-white);
  }
  
  .navbar-brand {
    font-size: 3rem;
  }

  .nav-link {
    font-weight: bold;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-primary);
  }
  
  h1{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-black);
    margin-bottom: 5%;  
  }

  .form_cadastro p {
    font-size: 15px;
  }

  .carousel {
    display: inline-block;
    max-width: 30%;
    margin-left: 40px;
    margin-top: 5%;
  }

  li {
    list-style-type: none;
  }

#card_sobre {
  background-color: cornflowerblue;
 }

.card-body {
  margin-bottom: 50px;
  margin-top: 50px;
}