/* Configurações de cores e fontes gerais do app Web */
:root {
    --color-primary: #940303;
    --color-secundary: #2567E5;
  
    --color-white: #fff;
    --color-black: #000;
  
    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;
  
    --font-primary: sans-serif;
    --font-headings: "Roboto Slab", serif;
  
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
  }
  
  /* Configurações de reset da página */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem; /*16 px*/
    font-family: var(--font-primary);
    background-color: var(--color-black);
    margin: auto;
  }

  main {
    background-color: var(--color-white);
    max-width: 400px;
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: large;
  }

  .btn {
    color: var(--color-white);
    background: var(--color-secundary);
    font-weight: bold;
    font-size: medium;
    margin-right: 5px;
  }
  
  #login {
    background: var(--color-white);
    color: var(--color-secundary);
    border-color: var(--color-secundary);
  }

  /*      */
  
  .navbar {
    background: var(--color-white);
  }
  
  .navbar-brand {
    font-size: 3rem;
  }

  .nav-link {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    color: var(--color-secundary);
    font-family: var(--font-headings);
  }

li a{
    color: var(--color-primary);
}